<main role="main">
    <div class="container-fluid">
        <div class="row">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">

                        <div class="my-3 sticky-top">
                            <div id="toc_container">
                                <p class="toc_title">Indhold</p>
                                <ul id="MainContent_LeftSidePanelContent_toc_list" class="toc_list">
                                    <li><a href="#1">Indledning</a></li>
                                    <li><a href="#3">1 AG DRIVE-IN BILSYN ApS </a></li>
                                    <li><a href="#4">4.0 Organisationens vilkår og rammer.</a></li>
                                    <li><a href="#5">4.1 Organisationen rammer og vilkår </a></li>
                                    <li><a href="#6">4.2 Forståelse af interessenters behov og forventninger</a></li>
                                    <li><a href="#scope">4.3 Fastlæggelse af kvalitetsledelsessystemets omfang</a></li>
                                    <li><a href="#8">4.4.1 Kvalitetsledelsessystemet og dets processer</a></li>
                                    <li><a href="#9">4.4.2 Dokumenteret information til understøttelse af processerne</a></li>
                                    <li><a href="#10">5 Lederskab</a></li>
                                    <li><a href="#11">5.1.1 Lederskab og forpligtigelser</a></li>
                                    <li><a href="#12">5.1.2 Kundefokus</a></li>
                                    <li><a href="#politik">5.2 Kvalitetspolitik</a></li>
                                    <li><a href="#14">5.2.1 Udarbejdelse af kvalitetspolitikken</a></li>
                                    <li><a href="#15">5.2.2 Kommunikation af kvalitetspolitikken</a></li>
                                    <li><a href="#16">5.3 Roller, ansvar og beføjelser i organisationen</a></li>
                                    <li><a href="#17">6.1 </a></li>
                                    <li><a href="#18">6.1.2 Handlinger til adressering af risici og muligheder</a></li>
                                    <li><a href="#19">6.2 </a></li>
                                    <li><a href="#kvalitetesmål">6.2.1 Kvalitetsmål og planlægning for at opnå dem</a></li>
                                    <li><a href="#21">6.2.2 Planlægningen af hvordan kvalitetsmålene nås</a></li>
                                    <li><a href="#22">6.3 Planlægning af ændringer</a></li>
                                    <li><a href="#23">7 Støtteaktiviteter og funktioner</a></li>
                                    <li><a href="#24">7.1 Ressourcer</a></li>
                                    <li><a href="#25">7.1.1 Generelt</a></li>
                                    <li><a href="#26">7.1.2 Medarbejdere og andre personer underlagt AG DRIVE-IN BILSYN ApS s ledelse</a></li>
                                    <li><a href="#27">7.1.3 Infrastruktur</a></li>
                                    <li><a href="#28">7.1.4 Miljø for drift af processer</a></li>
                                    <li><a href="#29">7.1.5.1 Ressourcer til overvågning og måling</a></li>
                                    <li><a href="#30">7.1.5.2 Målingers sporbarhed</a></li>
                                    <li><a href="#31">7.1.6 Organisatorisk viden</a></li>
                                    <li><a href="#32">7.2 Kompetencer</a></li>
                                    <li><a href="#33">7.3 Bevidsthed</a></li>
                                    <li><a href="#34">7.4 Kommunikation</a></li>
                                    <li><a href="#35">7.5.1 Dokumenteret information</a></li>
                                    <li><a href="#36">7.5.2 Udarbejdelse og opdatering</a></li>
                                    <li><a href="#37">7.5.3 Styring af dokumenteret information</a></li>
                                    <li><a href="#38">7.5.3.1 Dokumenteret information, som er et krav i kvalitetsledelsessystemet</a></li>
                                    <li><a href="#39">7.5.3.2 Styring af dokumenteret information</a></li>
                                    <li><a href="#40">8.1 Driftsplanlægning og -styring</a></li>
                                    <li><a href="#41">8.2.1 Kommunikation med kunden - Krav til produkter og ydelser</a></li>
                                    <li><a href="#42">8.2.2 Fastlæggelse af krav knyttet til produkter og ydelser</a></li>
                                    <li><a href="#43">8.2.3 (8.2.3 Gennemgang af krav knyttet til produkter og ydelser</a></li>
                                    <li><a href="#44">8.2.3.2 AG DRIVE-IN BILSYN ApS skal bevare dokumenteret information</a></li>
                                    <li><a href="#45">8.2.4 Ændringer af krav til produkter og ydelser</a></li>
                                    <li><a href="#46">8.3 </a></li>
                                    <li><a href="#47">8.3.1 Udvikling af produkter og ydelser</a></li>
                                    <li><a href="#48">8.3.2 Udviklingsplanlægning</a></li>
                                    <li><a href="#50">8.3.3 Input til udvikling</a></li>
                                    <li><a href="#51">8.3.4 Styring af udvikling</a></li>
                                    <li><a href="#52">8.3.5 Output fra udvikling</a></li>
                                    <li><a href="#53">8.3.6 Udviklingsændringer</a></li>
                                    <li><a href="#54">8.4.1 Styring af processer, produkter og ydelser leveret udefra</a></li>
                                    <li><a href="#55">8.4.2 Typer og omfang af styring</a></li>
                                    <li><a href="#56">8.4.3 Information til eksterne leverandører</a></li>
                                    <li><a href="#57">8.5.1 Styring af produktion samt tilvejebringelse af ydelser</a></li>
                                    <li><a href="#58">8.5.2 Identifikation og sporbarhed</a></li>
                                    <li><a href="#59">8.5.3 Ejendom tilhørende kunder eller eksterne leverandører</a></li>
                                    <li><a href="#60">8.5.4 Bevarelse</a></li>
                                    <li><a href="#61">8.5.5 Aktiviteter efter levering</a></li>
                                    <li><a href="#62">8.5.6 Styring af ændringer</a></li>
                                    <li><a href="#63">8.6 Frigivelse af produkter og ydelser</a></li>
                                    <li><a href="#64">8.7.1 Styring af afvigende output</a></li>
                                    <li><a href="#65">8.7.2 Organisationen skal bevare dokumenteret information</a></li>
                                    <li><a href="#66">9.1 Overvågning, måling, analyse og evaluering</a></li>
                                    <li><a href="#67">9.1.2 Kundetilfredshed</a></li>
                                    <li><a href="#68">9.1.3 Analyse og evaluering</a></li>
                                    <li><a href="#69">9.2.1 Intern audit</a></li>
                                    <li><a href="#70">9.2.2 Audit planlægning</a></li>
                                    <li><a href="#71">9.3 Ledelsens evaluering</a></li>
                                    <li><a href="#72">9.3.1 Ledelsens evaluering</a></li>
                                    <li><a href="#73">9.3.2 Input til ledelsens evaluering</a></li>
                                    <li><a href="#74">9.3.3 Output fra ledelsens evaluering</a></li>
                                    <li><a href="#75">10 Forbedring</a></li>
                                    <li><a href="#77">10.1 Generelt</a></li>
                                    <li><a href="#78">10.2.1 Afvigelse og korrigerende handling</a></li>
                                    <li><a href="#79">10.2.2 Organisationen skal bevare dokumenteret information</a></li>
                                    <li><a href="#80">10.3 Løbende forbedring</a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="col">

                        <div class="container my-3 ml-2">
                            <section id="1" class="toc_content">
                                <p />
                                <p style="text-align: left; margin: 0pt;">
                                    <span style="font-family: &quot;Times New Roman&quot;;">
                                        <br>
                                    </span>
                                </p>
                                <h1 style="margin: 0pt; text-align: center;">
                                    <span style="font-family: &quot;Times New Roman&quot;;">
                                        <span>Kvalitetshåndbog</span>
                                    </span>
                                </h1>
                                <p>
                                    <span style="font-family: &quot;Times New Roman&quot;;">
                                        <br>
                                    </span>
                                </p>
                                <p style="margin: 0pt; text-align: center;">
                                    <span style="font-family: &quot;Times New Roman&quot;;">
                                        <span>
                                            <span style="font-size: 10pt;">Revision [00] - [01. oktober 2018]</span>
                                        </span>
                                    </span>
                                </p>
                                <p style="margin: 0pt; text-align: center;">
                                    <span style="font-family: &quot;Times New Roman&quot;;">
                                        <span>
                                            <span style="font-size: 10pt;">
                                                <br>
                                            </span>
                                        </span>
                                    </span>
                                </p>
                                <p style="text-align: left; margin: 0pt;">
                                    <span style="font-family: &quot;Times New Roman&quot;;">
                                        <span style="font-size: 12pt;">
                                            <span>
                                                <span>Gælder iht. ISO 9001:2015</span>
                                            </span>
                                        </span>
                                    </span>
                                </p>
                                <p style="text-align: left; margin: 0pt;">
                                    <span style="font-family: &quot;Times New Roman&quot;;">
                                        <span style="font-size: 12pt;">
                                            <span>
                                                <span>
                                                    <br>
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </p>
                                <p style="text-align: left; margin: 0pt;">
                                    <span style="font-family: &quot;Times New Roman&quot;;">
                                        <span style="font-size: 12pt;">
                                            <span>
                                                <span>(c) [Copyright 2018] [AG DRIVE-IN BILSYN ApS ]; all rights reserved.</span>
                                            </span>
                                        </span>
                                    </span>
                                </p>
                                <p style="text-align: left; margin: 0pt;">
                                    <span style="font-family: &quot;Times New Roman&quot;;">
                                        <span style="font-size: 12pt;">
                                            <span>
                                                <span>
                                                    <br>
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </p>
                                <p style="text-align: left; margin: 0pt;">
                                    <span style="font-family: &quot;Times New Roman&quot;;">
                                        <span style="font-size: 12pt;">
                                            <span>
                                                <span>Dette dokument kan indeholde beskyttede oplysninger og kan kun frigives til tredjepart med godkendelse af ledelsen. Dokument er ukontrolleret, medmindre andet er angivet; ukontrollerede dokumenter er ikke omfattet.</span>
                                            </span>
                                        </span>
                                    </span>
                                </p>
                                <p style="margin: 0pt; text-align: center;">
                                    <span style="font-family: &quot;Times New Roman&quot;;">
                                        <span style="font-size: 12pt;">
                                            <span>
                                                <span>
                                                    <br>
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </p>
                                <p style="margin: 0pt; text-align: center;">
                                    <span style="font-size: 12pt;">
                                        <span />
                                    </span>
                                </p>
                                <h3 style="margin: 0pt; text-align: center;">
                                    <span style="font-family: &quot;Times New Roman&quot;;">
                                        <span>Formålet med AG DRIVE-IN BILSYN ApS&nbsp;'s kvalitetsmanual.</span>
                                    </span>
                                </h3>
                                <p style="margin: 0pt; text-align: center;">
                                    <span style="font-family: &quot;Times New Roman&quot;;">
                                        <span style="font-size: 12pt;">
                                            <span>
                                                <span style="font-weight: bold;">
                                                    <br>
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </p>
                                <p style="text-align: left; margin: 0pt;">
                                    <span style="font-family: &quot;Times New Roman&quot;;">
                                        <span style="font-size: 12pt;">
                                            <span>
                                                <span>Denne manual er udarbejdet med henblik på at definere virksomhedens fortolkninger og overensstemmelse med den internationale standard ISO9001:2015, samt at demonstrere, hvordan virksomheden er i overensstemmelse med denne standard. </span>
                                            </span>
                                        </span>
                                    </span>
                                </p>
                                <p style="text-align: left; margin: 0pt;">
                                    <span style="font-family: &quot;Times New Roman&quot;;">
                                        <span style="font-size: 12pt;">
                                            <span>
                                                <span>Denne håndbog indeholder enkelte procedurer, instruktioner og bilag, som bruges til at definere, hvordanAG DRIVE-IN BILSYN ApS har skræddersyet sit ledelsessystem til sit formål. Disse har til formål at præcisere gennemførelsen, forståelse af opgaverne og brugen af evt. tilhørende dokumentation.</span>
                                            </span>
                                        </span>
                                    </span>
                                </p>
                                <p style="text-align: left; margin: 0pt;">
                                    <span style="font-family: &quot;Times New Roman&quot;;">
                                        <span style="font-size: 12pt;">
                                            <span>
                                                <span>
                                                    <br>
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </p>
                                <h3 style="text-align: left; margin: 0pt;">
                                    <span style="font-family: &quot;Times New Roman&quot;;">
                                        <span style="font-size: 12pt;">Indledning</span>
                                    </span>
                                </h3>
                                <p style="text-align: left; margin: 0pt;">
                                    <span style="font-family: &quot;Times New Roman&quot;;">
                                        <span style="font-size: 12pt;">AG DRIVE-IN BILSYN ApS&nbsp; ønsker med denne manual at opfylde kravene i ISO9001:2015, og de underliggende dokumenter med bilag sikre dette.</span>
                                    </span>
                                </p>
                                <p style="text-align: left; margin: 0pt;">
                                    <span style="font-family: &quot;Times New Roman&quot;;">
                                        <span style="font-size: 12pt;">
                                            <br>
                                        </span>
                                    </span>
                                </p>
                                <h3 style="text-align: left; margin: 0pt;">
                                    <span style="font-family: &quot;Times New Roman&quot;;">
                                        <span style="font-size: 12pt;">Anvendelsesområde</span>
                                    </span>
                                </h3>
                                <p style="text-align: left; margin: 0pt;">
                                    <span style="font-family: &quot;Times New Roman&quot;;">
                                        <span style="font-size: 12pt;">Kvalitetsstyringen finder anvendelse i alle AG DRIVE-IN BILSYN ApS&nbsp;’s processer der vedrører praktiske og administrative rutiner omkring fremstillingsprocessen men tilhørende serviceydelser.</span>
                                    </span>
                                </p>
                                <p style="text-align: left; margin: 0pt;">
                                    <span style="font-family: &quot;Times New Roman&quot;;">
                                        <span style="font-size: 12pt;">
                                            <br>
                                        </span>
                                    </span>
                                </p>
                                <h3 style="text-align: left; margin: 0pt;">
                                    <span style="font-family: &quot;Times New Roman&quot;;">
                                        <span style="font-size: 12pt;">Normative referencer</span>
                                    </span>
                                </h3>
                                <p style="text-align: left; margin: 0pt;">
                                    <span style="font-family: &quot;Times New Roman&quot;;">
                                        <span style="font-size: 12pt;">Er den til en hver tid gældende ISO 9001 standard, der kan være tilknyttet national og international lovgivningskompleks, hvor påkrævet vil disse være tilføjet kvalitetsstyringen via links eller under dokumenteret information.</span>
                                    </span>
                                </p>
                                <p style="text-align: left; margin: 0pt;">
                                    <span style="font-family: &quot;Times New Roman&quot;;">
                                        <span style="font-size: 12pt;">
                                            <br>
                                        </span>
                                    </span>
                                </p>
                                <h3 style="text-align: left; margin: 0pt;">
                                    <span style="font-family: &quot;Times New Roman&quot;;">
                                        <span style="font-size: 12pt;">Proces tilgang</span>
                                    </span>
                                </h3>
                                <p style="text-align: left; margin: 0pt;">
                                    <span style="font-family: &quot;Times New Roman&quot;;">
                                        <span style="font-size: 12pt;">AG DRIVE-IN BILSYN ApS&nbsp; sikre en processtilgang ved at have proces diagrammer enten i kasse form eller som pilediagrammer og de væsentligste processer med tilhørende under processer dokumenteret på denne måde. ISO9001:2015’s Plan-Do-Check-Act cyklus følges og dokumenteres via PDA skema. Risikobaseret tankegang sikres via løbende monitorering af AG DRIVE-IN BILSYN ApS&nbsp; ’s data og de omkringliggende faktorer. Der bruges særskilt risiko vurderings skema hvor særlig dokumentation er påkrævet.</span>
                                    </span>
                                </p>
                                <p />
                            </section>
                            <section id="3" class="toc_content">
                                <h2>1 AG DRIVE-IN BILSYN ApS </h2>
                                <p />
                                <h3 style="text-align: left; margin: 0pt;">
                                    <span style="font-family: &quot;Times New Roman&quot;;">
                                        <span style="font-size: 12pt;">
                                            <span>Strategi</span>
                                        </span>
                                    </span>
                                </h3>
                                <p style="text-align: left; margin: 0pt;">
                                    <span style="font-family: &quot;Times New Roman&quot;;">
                                        <span style="font-size: 12pt;">
                                            <span>
                                                <span>AG DRIVE-IN BILSYN ApS  har gennemgået og analyseret centrale aspekter af sig selv og sine interessenter for at bestemme den strategiske retning for AG DRIVE-IN BILSYN ApS  . </span>
                                            </span>
                                        </span>
                                    </span>
                                </p>
                                <p style="text-align: left; margin: 0pt;">
                                    <span style="font-family: &quot;Times New Roman&quot;;">
                                        <span style="font-size: 12pt;">
                                            <span>
                                                <span>AG DRIVE-IN BILSYN ApS&nbsp; vil være en førende faktor der, servicere virksomheder og private.</span>
                                            </span>
                                        </span>
                                    </span>
                                </p>
                                <p style="text-align: left; margin: 0pt;">
                                    <span style="font-family: &quot;Times New Roman&quot;;">
                                        <span style="font-size: 12pt;">
                                            <span>
                                                <span>
                                                    <br>
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </p>
                                <h3 style="text-align: left; margin: 0pt;">
                                    <span style="font-family: &quot;Times New Roman&quot;;">
                                        <span style="font-size: 12pt;">
                                            <span>Kerneværdier</span>
                                        </span>
                                    </span>
                                </h3>
                                <p style="font-size: 10pt; text-align: left; margin: 0pt;">
                                    <span style="font-family: &quot;Times New Roman&quot;;">
                                        <span>
                                            <span style="font-size: 12pt;">
                                                <span>AG DRIVE-IN BILSYN ApS  har fire kerneværdier:</span>
                                            </span>
                                        </span>
                                    </span>
                                </p>
                                <p style="font-size: 10pt; text-align: left; margin: 0pt;">
                                    <span style="font-family: &quot;Times New Roman&quot;;">
                                        <span style="font-size: 12pt;">
                                            <br>
                                        </span>
                                    </span>
                                </p>
                                <h4 style="text-align: left; margin: 0pt;">
                                    <span style="font-family: &quot;Times New Roman&quot;;">
                                        <span style="font-size: 12pt;">
                                            <span style="text-decoration: underline;">Vision</span>
                                        </span>
                                    </span>
                                </h4>
                                <ul>
                                    <li style="text-align: left; margin: 0pt;">
                                        <span style="font-family: &quot;Times New Roman&quot;;">
                                            <span style="font-size: 12pt;">
                                                <span>
                                                    <span>AG DRIVE-IN BILSYN ApS  skal være kendt som en professionel, uafhængig og kompetent organisation inden for test og syn af biler.&nbsp;</span>
                                                </span>
                                            </span>
                                        </span>
                                    </li>
                                    <li style="text-align: left; margin: 0pt;">
                                        <span style="font-family: &quot;Times New Roman&quot;;">
                                            <span style="font-size: 12pt;">
                                                <span>
                                                    <span>AG DRIVE-IN BILSYN ApS  udfører en uafhængig og professionel kontrol på bl.a. autoværksteder.</span>
                                                </span>
                                            </span>
                                        </span>
                                    </li>
                                </ul>
                                <div>
                                    <h4 style="text-align: left; margin: 0pt;">
                                        <span style="font-family: &quot;Times New Roman&quot;;">
                                            <span style="font-size: 12pt;">
                                                <span>
                                                    <span style="text-decoration: underline;">Viden</span>
                                                </span>
                                            </span>
                                        </span>
                                    </h4>
                                    <ul>
                                        <li style="text-align: left; margin: 0pt 0pt 2pt;">
                                            <span style="font-family: &quot;Times New Roman&quot;;">
                                                <span style="font-size: 12pt;">
                                                    <span>
                                                        <span>AG DRIVE-IN BILSYN ApS</span> har de dygtigste medarbejdere inden for test af biler med hensyn til sikkerhed, drift og vedligehold.
                                                    </span>
                                                </span>
                                            </span>
                                        </li>
                                        <li style="text-align: left; margin: 0pt 0pt 2pt;">
                                            <span style="font-family: &quot;Times New Roman&quot;;">
                                                <span style="font-size: 12pt;">
                                                    <span>
                                                        <span>AG DRIVE-IN BILSYN ApS</span> har opdaterede test instruktioner, der sikre de nyeste teknologier efterprøvet, således at hele køretøjet kontrolleres.
                                                    </span>
                                                </span>
                                            </span>
                                        </li>
                                        <li style="text-align: left; margin: 0pt;">
                                            <span style="font-family: &quot;Times New Roman&quot;;">
                                                <span style="font-size: 12pt;">
                                                    <span>
                                                        <span>AG DRIVE-IN BILSYN ApS&nbsp;</span>har de dygtigste eksperter inden for teknik, jura og andre relevante områder, som bilisten har brug for rådgivning indenfor
                                                    </span>
                                                </span>
                                            </span>
                                        </li>
                                    </ul>
                                    <h4 style="text-align: left; margin: 0pt;">
                                        <span style="font-family: &quot;Times New Roman&quot;;">
                                            <span style="font-size: 12pt;">
                                                <span>
                                                    <span style="text-decoration: underline;">Troværdighed</span>
                                                </span>
                                            </span>
                                        </span>
                                    </h4>
                                    <p style="text-align: left; margin: 0pt;">
                                        <span style="font-family: &quot;Times New Roman&quot;;">
                                            <br>
                                        </span>
                                    </p>
                                    <ul>
                                        <li style="text-align: left; margin: 0pt 0pt 2pt;">
                                            <span style="font-family: &quot;Times New Roman&quot;;">
                                                <span style="font-size: 12pt;">
                                                    <span>
                                                        <span>AG DRIVE-IN BILSYN ApS går ikke på kompromis med kvaliteten i arbejdsprocessen. </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </li>
                                        <li style="text-align: left; margin: 0pt;">
                                            <span style="font-family: &quot;Times New Roman&quot;;">
                                                <span style="font-size: 12pt;">
                                                    <span>
                                                        <span>AG DRIVE-IN BILSYN ApS er garant for resultater og objektivitet og skal forblive en kompetent, der tjener bilistens interesser.</span>
                                                    </span>
                                                </span>
                                            </span>
                                        </li>
                                    </ul>
                                    <h4 style="text-align: left; margin: 0pt;">
                                        <span style="font-family: &quot;Times New Roman&quot;;">
                                            <span style="font-size: 12pt;">
                                                <span>
                                                    <span style="text-decoration: underline;">Dynamik</span>
                                                </span>
                                            </span>
                                        </span>
                                    </h4>
                                    <ul>
                                        <li style="text-align: left; margin: 0pt 0pt 2pt;">
                                            <span style="font-family: &quot;Times New Roman&quot;;">
                                                <span style="font-size: 12pt;">
                                                    <span>
                                                        <span>AG DRIVE-IN BILSYN ApS skal være en levende og synlig organisation for den moderne bilist, der tilpasser sig bilistens skiftende behov og løbende viser vejen med fremsynede tiltag. </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </li>
                                        <li style="text-align: left; margin: 0pt;">
                                            <span style="font-family: &quot;Times New Roman&quot;;">
                                                <span style="font-size: 12pt;">
                                                    <span>
                                                        <span>AG DRIVE-IN BILSYN ApS er på forkant med fremtiden og tilpasser ydelserne til bilernes teknologiske udvikling.</span>
                                                    </span>
                                                </span>
                                            </span>
                                        </li>
                                    </ul>
                                    <div>
                                        <p style="text-align: left; margin: 0pt;">
                                            <span style="font-family: &quot;Times New Roman&quot;;">
                                                <span>
                                                    <span style="font-size: 12pt;">&nbsp;</span>
                                                </span>
                                            </span>
                                        </p>
                                        <p style="text-align: left; margin: 0pt;">
                                            <span style="font-family: &quot;Times New Roman&quot;;">
                                                <span style="font-size: 12pt;">
                                                    <span>
                                                        <span>Dette indebærer: </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </p>
                                        <ul>
                                            <li style="text-align: left; margin: 0pt;">
                                                <span style="font-family: &quot;Times New Roman&quot;;">
                                                    <span style="font-size: 12pt;">
                                                        <span>
                                                            <span>Forståelse af vores kærneprodukter og tjenester, og omfanget af ledelsessystemet i hele <span>AG DRIVE-IN BILSYN ApS</span> .</span>
                                                            <span>&nbsp;</span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </li>
                                            <li style="text-align: left; margin: 0pt;">
                                                <span style="font-family: &quot;Times New Roman&quot;;">
                                                    <span style="font-size: 12pt;">
                                                        <span>
                                                            <span>At identificere "berørte parter" (aktører) der modtager vores produkter og tjenesteydelser, eller der kan være påvirket af dem, eller de parter, der i øvrigt har en betydelig interesse i vores virksomhed.</span>
                                                            <span>&nbsp;</span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </li>
                                            <li style="text-align: left; margin: 0pt;">
                                                <span style="font-family: &quot;Times New Roman&quot;;">
                                                    <span style="font-size: 12pt;">
                                                        <span>
                                                            <span>Fremme forståelse for interne og eksterne spørgsmål, der vedrører kundesegmentet og de interesserede parter.</span>
                                                            <span>&nbsp;</span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </li>
                                            <li style="text-align: left; margin: 0pt;">
                                                <span style="font-family: &quot;Times New Roman&quot;;">
                                                    <span style="font-size: 12pt;">
                                                        <span>
                                                            <span>At spørgsmål identificeret gennem en analyse af risici over for kunder og interessenter er overvåget og håndteret af ledelsen eller deres udpegede repræsentanter.</span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </li>
                                        </ul>
                                        <span style="font-size: 12pt;">
                                            <br>
                                        </span>
                                    </div>
                                </div>
                                <p />
                            </section>
                            <section id="4" class="toc_content">
                                <h3>4.0 Organisationens vilkår og rammer.</h3>
                                <p />
                                <p style="text-align: left; margin: 0pt;">
                                    <span style="font-family: &quot;Times New Roman&quot;;">
                                        <span style="font-size: 12pt;">
                                            <span>AG DRIVE-IN BILSYN ApS ’s fastlægger igennem forståelse af organisationen, dens rammer og vilkår, de eksterne og interne </span>
                                        </span>
                                    </span>
                                </p>
                                <p style="text-align: left; margin: 0pt;">
                                    <span style="font-family: &quot;Times New Roman&quot;;">
                                        <span style="font-size: 12pt;">
                                            <span>forhold der er relevante for dens formål og strategiske retning.</span>
                                        </span>
                                    </span>
                                </p>
                                <p style="text-align: left; margin: 0pt;">
                                    <span style="font-family: &quot;Times New Roman&quot;;">
                                        <span style="font-size: 12pt;">
                                            <span>
                                                <br>
                                            </span>
                                        </span>
                                    </span>
                                </p>
                                <p style="text-align: left; margin: 0pt;">
                                    <span style="font-family: &quot;Times New Roman&quot;;">
                                        <span style="font-size: 12pt;">
                                            <span>Eksterne forhold der monitoreres er men ikke begrænset til: </span>
                                        </span>
                                    </span>
                                    </li>
                                    <li style="text-align: left; margin: 0pt;">
                                        <span style="font-size: 12pt;">
                                            <span style="font-family: &quot;Times New Roman&quot;;">Kalibrerings resultater</span>
                                        </span>
                                    </li>
                                    </ul>
                                <p />
                            </section>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</main>